<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<style>

    table {
        border: 1px solid grey;
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid grey;
    }

</style>
<body>
<table>
    <tr>
        <td><h1>ID</h1></td>
        <td><h1>Username</h1></td>
        <td><h1>Surname</h1></td>
        <td><h1>Age</h1></td>
        <td><h1>Pass</h1></td>
    </tr>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getPass()}"></td>
    </tr>
</table>
<a href="/logout"><input type="button" value="Logout"></a>
</body>
</html>